<form [formGroup]="form">

    <label >Inicial: </label>
    <input type="number" formControlName="inicial"> <br>
    
    <div formGroupName="periodo">
        <label >Período: </label>
        <input type="number" formControlName="valor"> 
        <select formControlName="tipoPeriodo" id="periodos">
            <option value="1" >Mensal</option>
            <option value="2">Anual</option>
          </select> <br>
    </div>

    <div formGroupName="juros">
        <label >Juros: </label>
        <input type="number" formControlName="valor"> 
        <select formControlName="tipoPeriodo" id="periodos">
            <option value="1">Mensal</option>
            <option value="2">Anual</option>
        </select> 
    </div>

    <div formArrayName="aportes">
        <h2>Aportes</h2>
        <div *ngFor="let aporte of aportes.controls; let i=index" [formGroupName]="i">
          <label >Aporte: </label>
          <input type="number" formControlName="valor"> 
          Mês: <select formControlName="mes">
            <option *ngFor="let mes of meses" [value]="mes.value">{{ mes.name }}</option>
          </select>         
          <button type="button" (click)="removeAportes(i)">-</button>
          <button type="button" (click)="addAportes()">+</button><br>
        </div>
      </div>


  </form>
  <br>
  <button type="submit" [disabled]="!form.valid" (click) = "onSubmit()">Calcular</button>
 
