<form [formGroup]="form" id="form">

    <label >Inicial: </label>
    <input type="number" formControlName="inicial" id="inicial-input"> <br>
    
    <div formGroupName="periodo">
        <label >Período: </label>
        <input type="number" formControlName="valor">         
        <select formControlName="tipoPeriodo">
            <option [ngValue]="1" >Meses</option>
            <option [ngValue]="2">Anos</option>
          </select> <br>
    </div>

    <div formGroupName="juros">
        <label >Juros: </label>
        <input type="number" formControlName="valor" id="juros-input"> 
        <select formControlName="tipoPeriodo">
            <option [ngValue]="1">Por Mês</option>
            <option [ngValue]="2">Por Ano</option>
        </select> 
    </div>

    <div formArrayName="aportes">
        <h2>Aportes</h2>
        <div *ngFor="let aporte of aportes.controls; let i=index" [formGroupName]="i">
          <label >Aporte: </label>
          <input type="number" formControlName="valor"> 
          Mês: <select formControlName="mes">
            <option *ngFor="let mes of meses" [value]="mes.value">{{ mes.name }}</option>
          </select>         
          <button type="button" (click)="removeAporte(i)">-</button>
          <button type="button" (click)="addAporte()">+</button><br>
        </div>
      </div>

      <br>
      <button type="submit" (click) = "calcular()" [disabled]="!form.valid">Calcular</button>

      <div *ngIf="calculoResponse">
       <pre>{{ calculoResponse | json }}</pre>
      </div>

  </form>



 
